
h3{
    color:white;
    text-align: center;

}
.container-fluid{
    background-image: url("../../assets/images.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 657px;
}
.form-container{
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 110px;
    color:white;
    border:1px solid #f7c7c7;
    -webkit-box-shadow: inset -1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow:  -1px 4px 26px 11px rgba(0,0,0,0.75);
}
.btn-success{
    float:right;
}
.w-2{
    padding: 30px;
}