
h3{
    color: darkmagenta;
}
.container-fluid{
    background-image: url("../assets/images.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.form-container{
    margin-left: 530px;
    margin-top: 330px;
    color:white;
    border:1px solid #f7c7c7;
    -webkit-box-shadow: inset -1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow:  -1px 4px 26px 11px rgba(0,0,0,0.75);
}
h3{
    text-align: center;
}
