<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Middlename</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of onedata">
        <td>{{item.firstname}}</td>
        <td>{{item.middlename}}</td>
        <td>{{item.lastname}}</td>
        <td>{{item.email}}</td>
        <td>
          <a class="btn text-danger" style="color:rgb(51, 62, 167)" (click)="deletedata(item)">
            <i class="fa fa-trash"></i>
          </a>
        </td>
        <td>
          <i class="fa fa-edit" (click)="updatedata(item)" style="color:hotpink"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>